body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #32425c;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 17px;
}

.main-navigation p {
  font-style: italic;
  color: #ee3643;
  line-height: 23px;
  font-size: 16px;
}

.management a:hover {
  background-color: #293449;
  opacity: 1;
}

.management a:focus {
  background-color: #1d2739;
}

.management .order:hover {
  background-color: #5fbb2d;
}

.management .order:active {
  background-color: #518534;
}

.main-navigation,
.bottom-navigation {
  list-style: none;
}

.main-navigation a,
.bottom-navigation a {
  color: #ffffff;
}

.main-header-logo {
  display: block;
  width: 220px;
  height: 22px;
  padding: 10px 0;
  background-color: #ee3643;
  text-align: center;
  border-bottom: 5px solid #b52933;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-header-logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.logo-search {
  display: flex;
}

.header-section-top {
  display: flex;
  width: auto;
  height: 42px;
  padding-right: 130px;
  padding-left: 130px;
  background-color: #32425c;
  font-size: 17px;
  line-height: 18px;
  justify-content: space-between;
}

.logo-search  input[type="search"] {
  font-size: 17px;
  line-height: 18px;
  display: block;
  background-color: #32425c;
  color: #ffffff;
  height: 42px;
  border-color: transparent;
}

input[type="search"]::before {
  content: "";
  display: block;
  background: url("../img/icon-search.svg") 50% 50% no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.5;
  color: white;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

.management li {
  position: relative;
  top: -17px;
  display: inline-block;
}

.bookmarks::before {
  content: "";
  display: block;
  background: url("../img/icon-bookmark.svg") 50% 50% no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.5;
  color: white;
}

.basket::before {
  content: "";
  display: block;
  background: url("../img/icon-cart.svg") 50% 50% no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.5;
  color: white;
}

.order {
  background-color: #63a63e;
}

.management a {
  display: block;
  position: relative;
  padding: 12px 21px;
  margin-right: -5px;
}

.header-section-bottom {
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f3f7f8;
  height: 280px;
  padding-right: 130px;
  padding-left: 130px;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin-left: 53px;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.header-contacts {
  font-size: 14px;
  line-height: 24px;
}

.header-contacts strong {
  font-style: normal;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 2px solid white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}

strong::before {
  content: "";
  display: block;
  float: left;
  position: relative;
  right: 40px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-phone.svg");
}

.address-bottom {
  margin: 15px;
}

.login-buttons {
  display: flex;
}

.login a,
.registration a {
  display: block;
  color: black;
  background-color: #ffffff;
}

.login-link {
  padding: 10px 25px 10px 15px;
  margin-right: 10px;
}

.login-link::before {
  display: block;
  float: left;
  content: "";
  margin: 4px 10px 0 0;
  height: 15px;
  width: 20px;
  background: url("../img/icon-login.svg") 50% 50% no-repeat white;
  opacity: 0.5;
}

.registration-link {
  padding: 10px 25px;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:active,
.registration-link:active {
  color: #cacaca;
}

.top-menu {
  width: 100%;
}

.top-menu li {
  position: relative;
  right: 35px;
  width: 14.2857143%;
  display: inline-block;
  list-style: none;
  background-color: #32425c;
  margin-right: -5px;
  text-align: center;
  border-bottom: 5px solid #293449;
}

.top-menu li:hover {
  background-color: #293449;
}

.top-menu li:active {
  background-color: #1d2739;
  border-color: #1d2739;
}

.top-menu a {
  display: block;
  padding: 15px 30px;
}

main {
  display: flex;
  flex-direction: column;
  color: black;
}

.main-section {
  padding-right: 130px;
  padding-left: 130px;
}

.colored-blocks {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
}

.colored-separator1 {
  display: flex;
  flex-direction: column;
}

.materials-instruments {
  display: flex;
}

.colored-separator2 {
  display: flex;
  flex-direction: column;
}

.colored-blocks button {
  margin-left: 23px;
  color: white;
  height: 38px;
  border: 5px solid transparent;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
}

.materials {
  width: 300px;
  height: 125px;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg") 50% 50% no-repeat black;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tool {
  width: 300px;
  height: 125px;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg") 50% 50% no-repeat white;
  margin-right: 20px;
  margin-bottom: 20px;
}

.equipment {
  width: 300px;
  height: 125px;
  background-color: #dc91d8;
  margin-right: 20px;
  margin-bottom: 20px;
}

.discount-block {
  width: 300px;
  height: 125px;
  background-color: #8ed78f;
  margin-right: 20px;
  margin-bottom: 20px;
}

.delievery-block {
  width: 300px;
  height: 125px;
  background-color: #ffc047;
  margin-right: 20px;
  margin-bottom: 20px;
}

.slider {
  width: 620px;
  height: 266px;
  background: url("../img/slider.jpg") 0 0 no-repeat;
  margin-right: 20px;
  margin-bottom: 20px;
}

h3 {
  padding-left: 24px;
  color: white;
}

.popular-button {
  position: relative;
}

.catalog-popular {
  display: flex;
  justify-content: space-between;
}

.manufacturers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.manufacturers-list li {
  display: block;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.bosch-brand {
  background: url("../img/bosch.svg") 50% 50% no-repeat;
}

.makita {
  background: url("../img/Makita.svg") 50% 50% no-repeat;
}

.dewalt {
  background: url("../img/DeWALT.svg") 50% 50% no-repeat;
}

.interskol {
  background: url("../img/interskol.svg") 50% 50% no-repeat;
}

.hitachi {
  background: url("../img/Hitachi.svg") 50% 50% no-repeat;
}

.lg {
  background: url("../img/LG.svg") 50% 50% no-repeat;
}

.aeg {
  background: url("../img/AEG.svg") 50% 50% no-repeat;
}

.metabo {
  background: url("../img/Metabo.svg") 50% 50% no-repeat;
}

.services {
  height: 522px;
  background-color: #f4f8f9;
  padding-right: 130px;
  padding-left: 130px;
}

.services-separator {
  display: flex;
}

.services-list {
  list-style: none;
  margin-top: 75px;
  position: relative;
  right: 40px;
}

.services-list li {
  display: block;
  width: 200px;
  color: white;
  background-color: #32425c;
  padding: 20px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
}

.services-list li:hover {
  background-color: #293449;
}

.services-list li:active {
  background-color: #ffffff;
  color: #32425c;
  border: none;
}

.services-description h1 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 40px;
}

.services-description p {
  margin-left: 30px;
}

.separator {
  padding-right: 130px;
  padding-left: 130px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.company-description {
  background-color: #ffffff;
  color: black;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

main p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info2 {
  margin-top: 35px;
}

.partners {
  margin-bottom: 40px;
  position: relative;
  right: 50px;
}

.partners li {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  padding: 10px 10px;
}

.partners li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  margin-right: 10px;
}

.about {
  display: block;
  width: 140px;
  background-color: #ee3643;
  color: white;
  border: 1px solid #ee3643;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 40px;
  font-size: 14px;
  line-height: 18px;
}

.u-can {
  margin-top: 0;
}

.map-image {
  margin-bottom: 40px;
  margin-top: 35px;
}

.write {
  display: block;
  padding: 10px 40px;
  width: 180px;
  background-color: #ee3643;
  color: white;
  border: 1px solid #ee3643;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.map {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: 195px;
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  padding-right: 130px;
  padding-left: 130px;
}

.logo-address {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  width: 200px;
  height: 22px;
  padding: 15px 0;
  background-color: #ee3643;
  text-align: center;
  border-bottom: 5px solid #b52933;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  display: block;
  width: 460px;
  margin-top: 40px;
  font-style: normal;
}

.company {
  display: block;
}

.company li {
  display: inline-block;
  list-style: none;
  background-color: #32425c;
  margin-right: -5px;
}

.company a {
  display: block;
  width: auto;
  padding: 15px 30px;
}

.footer-products {
  display: block;
}

.footer-products li {
  display: inline-block;
  list-style: none;
  background-color: #32425c;
  margin-right: -5px;
}

.footer-products a {
  display: block;
  width: auto;
  padding: 15px 30px;
  color: #ffda96;
}

.bottom-navigation a:hover {
  text-decoration: underline;
}

.bottom-navigation a:active {
  opacity: 0.5;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  display: flex;
  height: 108px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding-right: 130px;
  padding-left: 130px;
}

.copyright {
  font-size: 16px;
  line-height: 18px
}

.footer-contacts {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.footer-social {
  display: flex;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.social {
  background-color: #212a3a;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 5px;
}

.creators {
  display: flex;
  font-size: 16px;
  line-height: 18px
}

.creators a {
  color: #ffda96;
}

.creators a:hover {
  text-decoration: underline;
}

.creators a:active {
  color: #ee3643;
}

.feedback {
  margin-right: 53px;
}

.social-vk {
  background: url("../img/vk-icon.svg") 50% 50% no-repeat #212a3a;
}

.social-fb {
  background: url("../img/fb-icon.svg") 50% 50% no-repeat #212a3a;
}

.social-insta {
  background: url("../img/insta-icon.svg") 50% 50% no-repeat #212a3a;
}

.container {
  padding-right: 130px;
  padding-left: 130px;
}

.breadcrumbs {
  display: inline-block;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: black;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

.breadcrumbs li {
  display: inline;
  padding: 15px 20px;
  float: left;
}

.breadcrumbs a {
  position: relative;
  float: left;
  color: black;
  text-decoration: none;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  color: #c5c9d1;
  top: -5px;
  right: -32px;
  z-index: 1;
  width: 36px;
  height: 36px;
  background-color: transparent;
  box-shadow: 1px 1px 0 1px black;
  border-radius: 50px 0px 0px 0px;
  transform: rotate(-45deg) scale(0.3);
}

h1 {
  font-size: 30px;
  line-height: 30px;
  padding: 33px 30px;
  background-color: #f2f6f8;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

h1 button {
  display: inline-block;
  background-color: #ee3643;
  border: 1px solid #ee3643;
  border-radius: 3px;
  color: white;
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
}

label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  padding: 13px 18px;
}

.price-form {
  border-bottom: 1px solid #e5e5e5;
}

.price-field {
  border: none;
}

.price-range input {
  display: block;
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
}

.catalog {
  width: 800px;
  margin: 20px auto;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-items {
  width: 700px;
  margin: 20px auto;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.visually-hidden {
  display: none;
}

.price-range {
  display: flex;
  flex-direction: column;
}

.range-numbers {
  display: flex;
  flex-direction: row;
}

.modal {
  display: none;
  position: fixed;
}

.modal-show {
  display: block;
}

.modal-write {
  top: 40%;
  left: 30%;
  width: 620px;
  height: 430px;
  padding: 50px 80px;
  background-color: white;
  border-top: 7px solid #ff5257;
}

.modal b {
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
}

.name-mail {
  display: flex;
  justify-content: space-between;
}

.your-name,
.your-email {
  display: flex;
  flex-direction: column;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  box-sizing: border-box;
  width: 261px;
  padding: 10px 15px;
  margin-right: 100px;
}

.submit-button {
  width: 100%;
  margin-right: 0;
  margin-top: 70px;
  background-color: #ee3643;
  padding: 10px 0px;
  border: 1px solid #ee3643;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 25px;
  right: 40px;

  width: 30px;
  height: 5px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
